*{
  margin: 0;
}
body{
  background-color: #02010a;
  font-family: 'Dancing Script', cursive;
}

#contenedor{
  width: 950px;
  margin: 0 auto;
  min-height: 180px;
  color: #ffffff;
}

/*encabezdo*/

header{
  background: #5b7989;
  padding: 15px 0;
  border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  display: flex;
  display: -webkit-flex;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  text-shadow: 2px 2px #02010a;
  animation: slideIn 3s;
}
#tituloencabezado{
  width: 70%;
  text-indent: 15px;
}
#menuencabezado{
  width: 30%;
  font-size: 18pt;
}
header a[href^="html"],[href^="index"],[href^="../"]{
  color: #ffffff;
}
#visitadaindex{
  text-decoration: none;
}
#visitadapaisajes{
  text-decoration: none;
}
#visitadaretratos{
  text-decoration: none;
}
/*imagen central*/

#imagencentral{
  background-color: #82c3a6;
  padding: 20px;
}
img{
  width: 100%;
}

/*imagen secundaria*/

#secundaria{
  display: flex;
  display: -webkit-flex;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  background: #d5c75f;
  min-height: 100px;
  padding: 20px 0;
}
.imagensecundaria{
  width: 50%;
  text-align: center;
  box-sizing: border-box;
  padding: 0 15px;
}
.imagenpaisaje{
  border: 2px solid #000000;
  transition: transform 2s;
  filter: drop-shadow(5px 5px 8px #82c3a6);
}
.imagenpaisaje:hover{
  transform: rotate(10deg);
}
.imagenretrato{
  border: 2px solid #000000;
  transition: transform 2s;
  filter: drop-shadow(5px 5px 8px #82c3a6);
}
.imagenretrato:hover{
  transform: translate(20px, -5px);
}

/*galeria*/

.imagenesencolumnas{
  width: 33.33%;
  text-align: center;
  box-sizing: border-box;
  padding: 10px;
}
.img1{
  -webkit-filter:blur(10px);
}
.img2,.img4,.img6{
  -webkit-filter:grayscale(100%);
}
.img3{
  -webkit-filter:sepia(90%);
}
/*pie de pagina*/

footer{
  border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  -webkit-border-radius: 0 0 10px 10px;
  display: flex;
  display: -webkit-flex;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  background-color: #C6d5c5;
  padding: 15px 0;
  color: black;
}
footer .columna{
  width: 25%;
  box-sizing: border-box;
  padding: 0 15px;
}
.icono-social{
  width: 15px;
}

/*animacion*/

@-webkit-keyframes slideIn {
  0%{
  margin-top:150%;
  }
  60%{
  margin-top:-5%;
  }
  100%{
  margin-top:0%;
  }
}

/*version movil*/

@media (max-width:420px) {
  #contenedor{
    width: 100%;
    margin: 0 auto;
  }

  /*encabezado*/

  #tituloencabezado, #menuencabezado{
    width: 100%;
    text-align: center;
  }
  .imagensecundaria{
    width: 100%;
  }

  /*galeria*/

  .imagenesencolumnas{
    width: 100%;
  }
  .imagenpaisaje{
    border: 2px solid #000000;
    transition: transform 2s;
    filter: drop-shadow(5px 5px 8px #82c3a6);
  }
  .imagenpaisaje:hover{
    transform: rotate(10deg);
  }
  .imagenretrato{
    border: 2px solid #000000;
    transition: transform 2s;
    filter: drop-shadow(5px 5px 8px #82c3a6);
  }
  .imagenretrato:hover{
    transform: translate(20px, -5px);
  }

  /*pie de pagina*/

  footer .columna{
    width: 100%;
    padding: 15px;
  }
}
