#contenedor{
  width: 70%;
  margin: 0 auto;
  font-family: 'Dancing Script', cursive;
}
header{
  background-color: #5b7989;
  height: 100%;
  border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header h1{
  color: #ffffff;
}
